body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

#favicon {
    margin-top: 50px;
    margin-left: 20px;
}

#edu-c {
    font-size: 25px;
    margin-left: 20px;
}

#she-f {
    font-size: 25px;
    margin-left: 20px;
}

#fod-f {
    font-size: 25px;
    margin-left: 20px;
}

.para {
    margin-left: 20px;
    text-align: left;
    margin-right: 10px;
}

h1 {
    font-size: 50px
}

h2 {
    font-size: 40px;
}

div p {
    margin-bottom: 40px;
}

.top-section {
    width: 100%;
    height: 100%;
    background-image: url(images/donation13.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;

}

.top-banner {

    padding-top: 100px;
    padding-bottom: 220px;
    text-align: center;
    color: #eeeded;
}

.donate-banner {
    padding-top: 80px;
}

.donate-banner-2 {
    padding-top: 50px;
}

.taka {
    display: flex;
    width: 50%;
    padding-left: 300px;
    margin-left: 32px;

}

.t-1 {
    width: 20%;
    box-shadow: 10px 10px 30px grey;
    margin-left: 10px;
    font-size: 30px;
}

.t-2 {
    width: 20%;
    box-shadow: 10px 10px 30px grey;
    border: 2px solid red;
    margin-left: 10px;
    font-size: 30px;
}

.donate {
    text-align: center;
    padding-bottom: 20px;

}

.donate-plan {
    width: 100%;
    height: 100%;
    display: flex;
}

.donate-plan-1 {
    width: 30%;
    border-radius: 5px;
    background-color: aliceblue;
    box-sizing: border-box;
    margin-left: 150px;
}

.donate-plan-2 {
    width: 30%;
    border-radius: 5px;
    background-color: antiquewhite;
    box-sizing: border-box;
    margin-left: 20px;
}

.donate-plan-3 {
    width: 30%;
    border-radius: 5px;
    background-color: beige;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 150px;
}

.button {
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    background-color: #ff5959;
    padding: 15px 25px;
    border-radius: 5px;

}

.Contribute {
    display: flex;
    width: 100%;
    margin-top: 130px;
}

.how-contribute-1 {
    width: 50%;
    margin-left: 150px;
    margin-right: 100px;
}

.how-contribute-2 {
    width: 50%;
    margin-left: 30px;
    margin-right: 200px;
    margin-top: 40px;
}

.how-contribute-3 {
    width: 50%;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 70px;
}

.how-contribute-4 {
    width: 50%;
    margin-left: 30px;
    margin-right: 200px;
}

#anchor {
    background-color: #ff5959;
    padding: 20px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#img {
    width: 100%;
    border-radius: 5px;
}

.updates {
    text-align: center;
    margin-top: 100px;
}

.update-input {
    width: 50%;
    border-radius: 3px;
    background-color: antiquewhite;
    padding: 50px;
    margin-left: 300px;
}

input {
    width: 50%;
    padding: 12.3px 11px 10.1px 11px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

::placeholder {
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

#sub {
    margin-top: 10px;
    margin-left: -5px;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #ff5959;
}

.footer {
    background-color: black;
    color: #ff5959;
    text-align: center;
    margin-top: 130px;
    padding: 15px;
}